<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyuan.applet.user.mapper.AppletUserMapper">
   <update id="updateScore" parameterType="com.lyuan.applet.user.entity.UserScoreDTO">
       update user set score = score+#{scoreChange} where id = #{userId}
   </update>
</mapper>
